.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 330px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #122236;
}

.profile img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.description {
  padding: 32px;
  height: 191px;
  border-bottom: 1px solid #e7ecf2;
  text-align: center;
}

.description p {
  margin: 0;
  padding: 0;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.location,
.tag {
  font-size: 13px;
  color: #768696;
  line-height: 24px;
}

.stats {
  display: flex;
  height: 75px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f3f6f9;
  border-radius: 0px 0px 5px 5px;
}

.stats li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}

.stats li:nth-of-type(2) {
  border-left: 1px solid #e7ecf2;
  border-right: 1px solid #e7ecf2;
}

.label {
  font-size: 12px;
  color: #768696;
}

.quantity {
  font-weight: 700;
}
